body {
     font-family: 'Nunito', sans-serif;
     font-size: 16px;
     font-weight: 300;
     color: #3d455c;
     margin: 0;
     padding: 0;
     overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
     font-family: 'Nunito Sans', sans-serif;
     font-weight: 700;
     color: #212631;
     margin: 0px 0px 15px;
}
 h1 {
     font-size: 34px;
}
 h2 {
     font-size: 28px;
}
 h3 {
     font-size: 23px;
}
 h4 {
     font-size: 16px;
}
 a {
     font-weight: 600;
     color: #212631;
     text-decoration: none;
}
/*----------------------------*\
	logo
\*----------------------------*/
.nav-logo {
    float:left;
}
.nav-logo .logo {
    line-height: 70px;
    display:inline-block;
}
.nav-logo .logo > img {
    width: 114px;
    max-height: 200px;
}
#nav .container {
    position: relative;
}
#nav-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 90;
    background-color: #FFF;
    -webkit-box-shadow: 0px -1px 0px 0px #eceef2 inset;
    box-shadow: 0px -1px 0px 0px #eceef2 inset;
}
/*----------------------------*\
	menu
\*----------------------------*/
.nav-menu {
     margin-left: 20px;
}
.nav-menu li a {
     position: relative;
     padding: 25px 20px;
     text-transform: capitalize;
     -webkit-box-shadow: -1px 0px 0px 0px #eceef2 inset;
     box-shadow: -1px 0px 0px 0px #eceef2 inset;
     -webkit-transition: 0.2s color;
     transition: 0.2s color;
}
.nav-menu li:first-child a {
     border-left: 1px solid #eceef2;
}
.nav-menu li a:after {
     content: '';
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0px;
     width: 100%;
     height: 4px;
     -webkit-transition: 0.2s width;
     transition: 0.2s width;
}
.nav-menu li.cat-1 a:after {
     background-color: #4BB92F;
}
.nav-menu li.cat-2 a:after {
     background-color: #ff8700;
}
.nav-menu li.cat-3 a:after {
     background-color: #0078ff;
}
.nav-menu li.cat-4 a:after {
     background-color: #8d00ff;
}
.nav-menu li a:hover, .nav-menu li a:focus {
     background-color: transparent;
     text-decoration: none;
}
.nav-menu li.cat-1 a:hover, .nav-menu li.cat-1 a:focus {
     color: #4BB92F;
}
.nav-menu li.cat-2 a:hover, .nav-menu li.cat-2 a:focus {
     color: #ff8700;
}
.nav-menu li.cat-3 a:hover, .nav-menu li.cat-3 a:focus {
     color: #0078ff;
}
.nav-menu li.cat-4 a:hover, .nav-menu li.cat-4 a:focus {
     color: #8d00ff;
}
/*----------------------------*\
	search
\*----------------------------*/
.nav-btns {
     float:right;
}
.nav-btns > button {
     padding: 25px 25px;
     border: none;
     line-height: 20px;
     background: transparent;
}
.nav-btns .search-form {
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0px;
     padding: 0px 15px;
     opacity: 0;
     visibility: hidden;
     -webkit-transition: 0.3s all;
     transition: 0.3s all;
}
.nav-btns .search-form.active {
     opacity: 1;
     visibility: visible;
}
.nav-btns .search-form .search-input {
     height: 100%;
     width: 100%;
     border: none;
     background: #FFF;
     padding: 0px;
     font-weight: 600;
}
.nav-btns .search-form .search-close {
     position: absolute;
     top: 50%;
     right: 15px;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     border: none;
     background: transparent;
     line-height: 20px;
     color: #212631;
     font-size: 22px;
     padding: 0;
}
/*----------------------------*\
	nav aside
\*----------------------------*/
 #nav-aside {
     position: fixed;
     right: 0;
     top: 0;
     bottom: 0;
     background-color: #fff;
     max-width: 360px;
     width: 100%;
     padding: 80px 20px;
     overflow-y: scroll;
     z-index: 99;
     -webkit-transform: translateX(100%);
     -ms-transform: translateX(100%);
     transform: translateX(100%);
     -webkit-transition: 0.3s all;
     transition: 0.3s all;
}
.main{
    background: #fff;
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}

.page-title{
    text-align: center;
}