{% extends 'base.html' %}

{% block title %}{{ name }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block main %}
    <ul >
        {% for article in articles %}
            <li>
                <p class="question-title">
                    <a href="{{ url_for('detail',article_id=article.article_id) }}">
                    {{ article.title }}</a></p>
                <div class="avatar-group">
                    <img class="avatar" alt="" src={{ article.img_url }} >
                </div>
                <p></p>
                <div class="question-group">

                    <p class="question-content">{{ article.text[:118]+".." }}</p>
                    <div class="question-info">
                        <span class="question-time">{{ article.update_date }}</span>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}