{% extends 'base.html' %}

{% block title %}首页{% endblock %}
{# 这里不需要改变原始的css了#}
{#{% block head %}#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">#}
{#{% endblock %}#}

{% block main %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Recent Posts</h2>
                </div>
            </div>
            {% for article in articles %}
                <div class="col-md-4">
                    <div class="post">
                        <a class="post-img" href="{{ url_for('detail',article_id=article.article_id) }}">
                            <img src={{ article.img_url }} alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
{#                                类别体现汉字#}
                                <a class="post-category cat-{{ article.category }}" href="category.html">{{ category_dict.setdefault(article.category_id,"其他") }}</a>
                                <span class="post-date">{{ article.update_date }}</span>
                            </div>
                            <h3 class="post-title"><a href="{{ url_for('detail',article_id=article.article_id) }}">{{ article.title }}</a></h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>最多浏览</h2>
                </div>
            </div>
            {% for article in articles %}
                <div class="col-md-4">
                    <div class="post">
                        <a class="post-img" href="{{ url_for('detail',article_id=article.article_id) }}">
                            <img src={{ article.img_url }} alt=""></a>
                        <div class="post-body">
                            <div class="post-meta">
{#                                类别体现汉字#}
                                <a class="post-category cat-{{ article.category }}" href="category.html">{{ category_dict.setdefault(article.category_id,"其他") }}</a>
                                <span class="post-date">{{ article.update_date }}</span>
                            </div>
                            <h3 class="post-title"><a href="{{ url_for('detail',article_id=article.article_id) }}">{{ article.title }}</a></h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}